.card-state {
    background-color: #5e91cb;
    color: white;
    border: #303c4a;
    margin: 0.2em;
    min-height: 8em;
}
.card-row {
    height: 100%;
}
.title {
    margin-bottom: 0;
}

.inline {
    display: inline;
}
